@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Inherit">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"/>
        <MudSpacer/>
    </MudAppBar>
    <MudDrawer @bind-open="_drawerIsOpen" Elevation="0" ClipMode="DrawerClipMode.Always" Style="background-color: #FAF9F6">
        <div class="mt-10">
            <NavMenu/>
        </div>
    </MudDrawer>
    <MudMainContent>
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                @if (context is UnauthorizedAccessException)
                {
                    <h1>Unauthorized</h1>
                }
                else
                {
                    <div class="pa-4">
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled">
                            @context.GetType().Name: @context.Message
                        </MudAlert>
                    </div>
                }
            </ErrorContent>
        </ErrorBoundary>
    </MudMainContent>
</MudLayout>
