@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using ZyphCare.Api.Client.Users.Contracts
@using ZyphCare.Api.Client.Users.Requests
@using ZyphCare.Web.Core.Contracts
@using ZyphCare.Web.Models

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="control-container">
                <div>
                    <SfAppBar>
                        <SfButton CssClass="e-inherit" IconCss="e-icons e-menu" OnClick="@Toggle"></SfButton>
                        <div class="e-folder">
                            <div class="e-folder-name">Navigation Pane</div>
                        </div>
                    </SfAppBar>
                </div>
                <SfSidebar @attributes="@_htmlAttribute" Width="210px" Target=".main-content" MediaQuery="(min-width:600px)"
                           @bind-IsOpen="_sidebarToggle">
                    <ChildContent>
                        <div class="main-menu">
                            <div>
                                <SfTreeView CssClass="main-treeview" ExpandOn="@Expand" TValue="TreeData">
                                    <TreeViewFieldsSettings Id="NodeId" Text="NodeText" DataSource="_treeData"
                                                            HasChildren="HasChild" ParentID="Pid">
                                    </TreeViewFieldsSettings>
                                </SfTreeView>
                            </div>
                        </div>
                    </ChildContent>
                </SfSidebar>
                <div class="main-content" id="main-text">
                    <div class="sidebar-content">
                        <div class="content px-4">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        Not authorized... <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}

