@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using ZyphCare.Web.Models

@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <div class="page" style="width: 100%; height: 100%;">
        <div class="control-container" style="width: 100%; height: 100%;">
            <div>
                <SfAppBar>
                    <SfButton CssClass="e-inherit" IconCss="e-icons e-menu" OnClick="@Toggle"></SfButton>
                    <div class="e-folder">
                        <div class="e-folder-name">Navigation Pane</div>
                    </div>
                </SfAppBar>
            </div>
            <SfSidebar @attributes="@_htmlAttribute" Width="210px" Target=".main-content" MediaQuery="(min-width:600px)"
                       @bind-IsOpen="_sidebarToggle">
                <ChildContent>
                    <div class="main-menu">
                        <div>
                            <SfTreeView CssClass="main-treeview" ExpandOn="@Expand" TValue="TreeData">
                                <TreeViewFieldsSettings Id="NodeId" Text="NodeText" DataSource="_treeData"HasChildren="HasChild" ParentID="Pid"/>
                            </SfTreeView>
                        </div>
                    </div>
                </ChildContent>
            </SfSidebar>
            <div class="main-content" id="main-text">
                <div class="sidebar-content">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</MudLayout>
