@page "/"
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Buttons
@using ZyphCare.Web.Core.Constants
@using ZyphCare.Web.Identity.Contracts

@attribute [Authorize]

<h3>Dashboard</h3>

<SfButton @onclick="LogOut">LogOut</SfButton>

@code{

    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    [Inject] private IJwtAccessor JwtAccessor { get; set; } = default!;
    [Inject] private IAuthenticationProvider AuthenticationProvider { get; set; } = default!;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState == null) 
            return;

        var state = await AuthenticationState;
        var role = state.User.Identities.First().FindFirstValue(ClaimTypes.Role);

        if (!string.IsNullOrEmpty(role)) 
            return;

        var refreshToken = await JwtAccessor.ReadTokenAsync(TokenNames.RefreshToken);

        if (string.IsNullOrEmpty(refreshToken)) 
            return;

        var accessToken = await AuthenticationProvider.GetAccessTokenByRefreshTokenAsync(refreshToken);

        if (!string.IsNullOrEmpty(accessToken))
        {
            await JwtAccessor.WriteTokenAsync(TokenNames.AccessToken, accessToken);
        }
    }

    private async Task LogOut()
    {
        await JwtAccessor.RemoveTokenAsync(TokenNames.AccessToken);
        await JwtAccessor.RemoveTokenAsync(TokenNames.RefreshToken);
        NavigationManager.NavigateTo("https://dev-g2gar2vb3zazyj0s.us.auth0.com/v2/logout?client_id=uYjZgtRicwlVkRR6WW9N3DqHw8C7EmAT&returnTo=https://localhost:7184/SignIn");
    }
    
}