@page "/"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Grids

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <SfGrid DataSource="Orders"/>
    </Authorized>
    <NotAuthorized>
        Not authorized... <a href="https://dev-g2gar2vb3zazyj0s.us.auth0.com/authorize?response_type=code&client_id=uYjZgtRicwlVkRR6WW9N3DqHw8C7EmAT&redirect_uri=https://localhost:7184/login&scope=offline_access&audience=https://zyphcare.com/authentication">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public List<Order> Orders { get; set; }

    protected override void OnInitialized()
    {
        Orders = Enumerable.Range(1, 5).Select(x => new Order()
            {
                OrderID = 0 + x,
                CustomerID = (new string[] { "ALFKI", "ANANTR", "ANTON", "BLONP", "BOLID" })[new Random().Next(5)],
            }).ToList();
    }

    public class Order
    {
        public int? OrderID { get; set; }
        public string CustomerID { get; set; }

    }
}
