@page "/Login"
@page "/Login/{Code}"
@using Microsoft.AspNetCore.WebUtilities

@attribute [AllowAnonymous]
<h3>Login</h3>

@code {
    [Parameter] public string? Code { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private string _codeValue;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var codeValue))
        {
            _codeValue = codeValue;

            var client = new HttpClient();
            var requestContent = new FormUrlEncodedContent(new[]
                {
                    new KeyValuePair<string, string>("grant_type", "authorization_code"),
                    new KeyValuePair<string, string>("client_id", "uYjZgtRicwlVkRR6WW9N3DqHw8C7EmAT"),
                    new KeyValuePair<string, string>("client_secret", "yourclientsecret"),
                    new KeyValuePair<string, string>("code", _codeValue),
                    new KeyValuePair<string, string>("redirect_uri", "https://localhost:7184/callback")
                });

            var response = await client.PostAsync("https://dev-g2gar2vb3zazyj0s.us.auth0.com/oauth/token", requestContent);
            var responseContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine(responseContent);
        }
    }
}

}