@page "/SignIn"

@using ZyphCare.Web.Identity.Layouts
@using Microsoft.AspNetCore.Components.Web
@using Syncfusion.Blazor.Buttons
@using ZyphCare.Web.Core.Constants

@layout LoginLayout;
@inherits ComponentBase;


<PageTitle>ZyphCare | Sign In</PageTitle>

<div class="container">
    <div class="login">
        <SfButton IsPrimary="true" @onclick="@OnLoginClicked">Login</SfButton>
    </div>
    <div class="image">

    </div>
</div>

<style>
    .container {
        display: flex;
        height: 100vh; /* Full height of the viewport */
        width: 100vw; /* Full width of the viewport */
    }

    .login {
        flex: 1; /* 50% width */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5; /* Optional: Background color or leave it empty */
    }

    .image {
        flex: 1; /* 50% width */
        background: white no-repeat center center;
        background-size: cover; /* Adjust this based on your design */
    }
</style>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    
    private void OnLoginClicked()
    {
        NavigationManager.NavigateTo($"{UrlConstants.Auth0Login}");
    }
}